<mat-card class="card">
    <mat-card-title>Alterar cadastro profissional</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="profissional.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereco"
                [(ngModel)]="profissional.endereco" name="endereco">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProfissional()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>