.card {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.label-estabelecimento{
    margin: 20px;
    width: 100px;
}

.container {
    margin: 10px;
}

button {
    margin: 20px 15px 0px 0px;
}