<mat-card class="card">
    <mat-card-title>Vincular Profissional à Estabelecimento</mat-card-title>    
     <!--    <mat-form-field>
            <mat-label>Profissional</mat-label>
            <mat-select>
              <mat-option *ngFor="let profissional of profissionais" [value]="food.value">
                {{profissional.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

        <!-- <label>Profissional</label>
        <select class="form-control form-control-lg" (click)="findAllProfissionais()">
            <option *ngFor="let profissional of profissionais">{{ profissional.nome }}</option>
        </select> -->    
    
    <!-- <button mat-raised-button (click)="associar()" color="primary">
        Vincular
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button> -->
</mat-card>